{% extends 'base.html' %}

{% block content%}

    <div class="container">
        <div class="p-4 m-4">
            <div class="col-lg-4 mt-4 mb-4 mx-auto pt-4 pb-4 text-danger">
                <div style="text-align: center;">
                    <i class="fa-solid fa-user fa-4x"></i>
                    <hr>
                </div>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {% endif %}


                    <!-- Email -->
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="email" name="email" id="" value="{{values.email}}" class="form-control form-control-md border border-danger" placeholder="example@gmail.com" required>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" name="password" id="" class="form-control form-control-md border border-danger" placeholder="**********">
                    </div>

                    <div class="from-group">
                        <input class="btn btn-sm btn-danger btn-block col-md-12" type="submit" value="Login">
                    </div>

                </form>
            </div>
        </div>
    </div>


{% endblock %}